@import "../../styles/variables";
@import "../../styles/mixins";

@mixin navigate-btn {
  @include width-height(50px, 50px);
  @include center;
  @include box-shadow;
  //hover
  transition: all 0.3s ease-out;
  @include hover-change-bg-ease($btn-secondary-hover-bg-color);
  background-color: white;
  border: 0.3px solid $btn-border;
  border-radius: 50%;
}

.feed {
  // top: 56px;
  left: 24.6%;
  bottom: 0;
  position: relative;
  // -------------
  &__wrapper {
    @include width-height-100;
    @include flex-column;
    align-items: center;
  }
}
