@import "../../styles/variables";
@import "../../styles/mixins";
@import "./style.scss";
@import "../widget/style.scss";

.feed {
  .post {
    &__item {
      @include width-height(500px, auto);
      @include flex-position(flex-start, unset);
      @include flex-column;
      @include box-shadow;
      margin-top: 18px;
      border-radius: 8px;
      background-color: white;
      position: relative;
      padding-bottom: 3px;
      &-metadata {
        @include width-height(500px, auto);
        @include flex-position(flex-start, unset);
        border-radius: 8px;
      }
      &-content {
        margin-top: 5px;
        @include font-style-min($text-content-size, 400);
        line-height: 1.2rem;
        a {
          color: $text-link-color;
        }
      }
    }
    &__avatar-wrapper {
      margin: 12px 8px 0 16px;
    }
    &__user-meta-wrapper {
      @include flex-column;
      height: 35px;
      margin-top: 12px;
      flex: 0.88;
      .post {
        &__username {
          @include font-style-min($text-content-size, 600);
          white-space: nowrap;
        }
        &__privacy {
          @include flex-position(flex-start, center);
          @include font-style-min($text-info-size, 400, $text-info-gray);
          span {
            margin-right: 3px;
          }
          &-icon {
            @include option-btn-png($imgSetting7, 0, -592px, 25px, 696px, 12px);
            @include secondary-icon-filter;
          }
        }
      }
    }

    &__actions {
      @include center;
      @include font-style-min(
        $text-title-size,
        800,
        $text-content-header-color
      );
      flex: 0.1;
      &-dots {
        // hover
        @include width-height(35px, 35px);
        @include center;
        border-radius: 50%;
        transition: all 0.3s ease-out;
        @include hover-change-bg-ease($btn-secondary-hover-bg-highlight-color);
      }
    }

    &__status {
      padding: 0 16px;
    }

    &__images {
      margin-top: 12px;
      display: flex;
      img {
        @include width-height-100;
      }
    }

    &__interaction-data {
      @include width-height(100%, 42px);
      @include flex-position(flex-start, center);
      @include font-style-min(
        $text-content-secondary-size,
        400,
        $text-content-header-color
      );
      position: relative;

      .post__data {
        &-icons {
          @include flex-position(flex-start, center);
          padding-left: 16px;
          flex: 0.4;
          height: 100%;
          img {
            @include width-height(18px, 18px);
          }
          .post {
            &__icon {
              @include center;
              position: absolute;
              border: 2px solid white;
              border-radius: 50%;
              &:hover {
                cursor: pointer;
              }
              &-like {
                z-index: 3;
              }
              &-love {
                left: 34px;
                z-index: 2;
              }
              &-haha {
                left: 52px;
              }
            }
          }
        }

        &-peoples {
          position: absolute;
          left: 80px;
        }
        &-comments-shares {
          @include flex-position(flex-end, center);
          padding-right: 16px;
          flex: 0.6;
          height: 100%;
          span {
            margin-left: 10px;
          }
        }
      }
    }

    &__interaction-buttons {
      @include width-height(100%, 59px);
      @include center;
      .post__buttons-container {
        @include width-height(95%, 85%);
        @include flex-position(space-around, center);
      }
      height: 40px;
      @include font-style-min($text-content-size, 600, $text-info-gray);
      .icon-wrapper {
        @include center;
        @include width-height(27px, 27px);

        .post__buttons-icon {
          margin-right: 8px;
        }
        @include secondary-icon-filter;
      }
      .post__buttons-option {
        @include hover-background-color-border;
        @include click-change-bg-ease;
        @include center;
        height: 100%;
      }
      .post__buttons-option-like {
        flex: 0.3;
      }
      .post__buttons-option-comment {
        flex: 0.4;
      }
      .post__buttons-option-share {
        flex: 0.3;
      }
    }
    &__emoji {
      @include flex-position(flex-start, center);
      @include box-shadow;
      position: absolute;
      z-index: 1;
      width: 350px;
      height: 50px;
      background-color: white;
      border-top-left-radius: 32px;
      border-top-right-radius: 32px;
      border-bottom-left-radius: 32px;
      border-bottom-right-radius: 32px;
      img {
        @include width-height(40px, 40px);
        transition: all 0.12s ease-out;
        &:hover {
          cursor: pointer;
          transform: scale(1.2) translateY(-2px);
          transition: all 0.12s ease-in;
        }
      }
      .emoji {
        &__image-container {
          position: absolute;
          @include center;
        }
        &__like {
          left: 5px;
        }
        &__love {
          left: 55px;
        }
        &__care {
          left: 105px;
        }
        &__haha {
          left: 155px;
        }
        &__wow {
          left: 205px;
        }
        &__sad {
          left: 255px;
        }
        &__angry {
          left: 305px;
        }
      }
    }
  }
}

.divider {
  margin: 0 16px;
}
