@import "../../styles/variables";
@import "../../styles/mixins";
@import "./style.scss";

@mixin story-bg-media {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin rounded-with-border(
  $borderColor: white,
  $bgColor: $btn-primary-bg-color,
  $size: 32px
) {
  @include width-height($size, $size);
  @include center;
  position: absolute;
  border-radius: 50%;
  background-color: $bgColor;
  border: 4px solid $borderColor;
}
@mixin story-hover-scale {
  transform: scale(1.03);
  transition: all 0.1s ease-out;
}
@mixin border-radius-top-lr($lr) {
  border-top-left-radius: $lr;
  border-top-right-radius: $lr;
}
@mixin border-radius-bottom-lr($lr) {
  border-bottom-left-radius: $lr;
  border-bottom-right-radius: $lr;
}
.feed {
  &__story-reel {
    @include width-height(580px, 245px);
    position: relative;
    &-wrapper {
      @include flex-position(space-between, center);
      height: 100%;
    }
    .story-reel {
      &__item {
        @include width-height(111px, 200px);
        @include box-shadow;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        transition: all 0.1s ease-out;
        .story__item {
          &-wrapper {
            @include width-height-100;
            @include story-bg-media;
            border-radius: 10px;
            transition: all 0.1s ease-in;
            filter: brightness(90%);
          }
          &-avatar {
            @include rounded-with-border($btn-primary-bg-color);
            @include story-bg-media;
            top: 11px;
            left: 11px;
          }
          &-username {
            @include font-style-min($text-content-size, 600, white);
            position: absolute;
            bottom: 9px;
            left: 12px;
          }
        }
        &:hover {
          cursor: pointer;
          filter: brightness(89%);
          .story__item {
            &-wrapper {
              @include story-hover-scale;
            }
            &-owner-avatar {
              @include story-hover-scale;
            }
          }
        }
      }
      &__item-owner {
        background-color: white;
        .story__item-owner {
          @include width-height(111px, 200px);
          &-create {
            @include width-height(100%, 35%);
            @include flex-position(center, center);
            @include border-radius-bottom-lr(10px);
            position: relative;
            &-btn-round {
              @include rounded-with-border;
              top: -19px;
            }
            &-icon {
              @include option-btn-png(
                $imgSetting3,
                0,
                -382px,
                49px,
                432px,
                24px
              );
              filter: brightness(0) invert(1);
              margin-left: unset;
            }
            &-text {
              @include font-style-min($text-content-size, 600);
              width: 70px;
              text-align: center;
              margin-top: 18px;
            }
          }
          &-avatar {
            &-wrapper {
              @include width-height(100%, 65%);
              position: relative;
              overflow: hidden;
            }
            @include width-height-100;
            @include story-bg-media;
            @include border-radius-top-lr(10px);
            filter: brightness(90%);
            transition: all 0.1s ease-in;
          }
        }
      }
      &__go-btn {
        @include navigate-btn;
        position: absolute;
        right: -25px;
        .story__go-btn-icon {
          @include option-btn-png($imgSetting1, 0, -168px, 25px, 1002px);
          @include secondary-icon-filter;
        }
      }
    }
  }
}
