@import "./variables";

@mixin option-btn-png(
  $imgUrl,
  $bgX: 0,
  $bgY: 0,
  $bgW: 0,
  $bgH: 0,
  $size: 20px
) {
  background-image: url($imgUrl);
  background-position: $bgX $bgY;
  background-size: $bgW $bgH;
  background-repeat: no-repeat;
  display: inline-block;
  width: $size;
  height: $size;
}

@mixin width-height($w, $h) {
  width: $w;
  height: $h;
}
@mixin width-height-100 {
  width: 100%;
  height: 100%;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-position($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

// base on $icon-secondary-filter-color: #606770;
@mixin secondary-icon-filter {
  filter: invert(38%) sepia(18%) saturate(249%) hue-rotate(174deg)
    brightness(96%) contrast(86%);
}

@mixin option-buttons {
  @include width-height(40px, 40px);
  @include center;
  border-radius: 50%;
  background-color: $btn-secondary-bg-color;
  margin-left: 8px;
  transition: all 0.3s ease-out;
  &:hover {
    cursor: pointer;
    background-color: $btn-secondary-hover-color;
    transition: all 0.1s ease-in;
  }
}
@mixin md-option-buttons {
  @include width-height(27px, 27px);
  @include center;
  border-radius: 50%;
  background-color: $btn-secondary-bg-color;
  &:hover {
    cursor: pointer;
    // background-color: $btn-secondary-hover-color;
  }
}

@mixin font-style-min($size, $weight, $color: black) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin hover-change-bg-ease($bgColor) {
  &:hover {
    cursor: pointer;
    background-color: $bgColor;
    transition: all 0.1s ease-in;
  }
}

@mixin box-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 5px 0px;
}

@mixin hover-background-color-border {
  @include center;
  border-radius: 8px;
  transition: all 0.3s ease-out;
  &:hover {
    cursor: pointer;
    transition: all 0.1s ease-in;
    background-color: $btn-secondary-hover-bg-color;
  }
}

@mixin click-change-bg-ease($bg: $btn-secondary-bg-color) {
  &:active {
    cursor: pointer;
    transition: all 0.1s ease-in;
    background-color: $bg;
  }
}
