// Colors - App
$app-primary-color: #1877f2;

// Color - Icon
$icon-secondary-filter-color: #606770;
$icon-secondary-color: #606770;

// Color - Button
$btn-primary-bg-color: #1877f2;
$btn-secondary-bg-color: #e4e6eb;
$btn-secondary-hover-bg-color: #f0f2f5;

// Color Field
$comment-bg-color: #f2f3f5;

// Color - Border

// Color - Text
$text-place-holder-cmt-color: #8a8d91;

// Size - Text
$text-topic-size: 1.5rem;
$text-title-size: 1.2rem;
$text-content-size: 0.9rem;
$text-info-size: 0.5rem;
$text-primary-placeholder-size: 0.95rem;

// Image Setting
$imgSetting1: "../assets/images/static-setting-1.png";
$imgSetting2: "../assets/images/static-setting-2.png";
