@import "../../styles/variables";
@import "../../styles/mixins";

@mixin hover-background-color-border {
  @include center;
  @include width-heigh-100;
  border-radius: 10px;
  transition: all 0.3s ease-out;
  &:hover {
    cursor: pointer;
    transition: all 0.1s ease-in;
    background-color: $btn-secondary-hover-bg-color;
  }
}

@mixin mid-btn-active-de-active {
  &--active {
    @include center;
    @include width-heigh-100;
  }
  &--de-active {
    @include hover-background-color-border;
    &:active {
      background-color: $btn-secondary-bg-color;
    }
  }
}
#header {
  input:focus {
    outline: none;
  }
  @include flex-position(space-between, center);
  @include box-shadow;
  height: 56px;
  position: sticky;
  z-index: 10;
  top: 0;

  background-color: white;
  /*----*/
  .header-left {
    @include flex-row;
    @include flex-position(flex-start);
    flex: 0.28;
    padding: 3px 16px;
    img {
      @include width-heigh(40px, 40px);
      &:hover {
        cursor: pointer;
      }
      margin-right: 8px;
    }
    &__search {
      @include flex-row;
      &-icon {
        @include option-btn-png($imgSetting1, 0, -794px, 25px, 1014px, 16px);
        @include secondary-icon-filter;
        pointer-events: none;
        margin: 0 8px 0 12px;
      }
    }
    &__label {
      @include flex-row;
      @include flex-position;
      height: 40px;
      background-color: $comment-bg-color;
      border-radius: 50px;
    }

    &__field {
      @include width-heigh(200px, 40px);
      border: none;
      background-color: transparent;
      font-size: 0.95rem;
      &::placeholder {
        color: $text-place-holder-cmt-color;
        user-select: none;
      }
    }
  }
  .header-middle {
    @include flex-row;
    @include flex-position(space-between, center);
    flex: 0.44;
    height: 100%;
    padding: 4px 14px 0 14px;
    &__menu {
      &-container {
        @include flex-column;
        @include width-heigh(20%, calc(100% - 3.4px));
        margin: 0 5px 0 5px;
      }
      &--active {
        @include width-heigh(100%, 4px);
        border-top-left-radius: 1px;
        border-top-right-radius: 1px;
        background-color: $btn-primary-bg-color;
        transition: all 0.2s ease-in;
      }
      &--de-active {
        @include width-heigh(100%, 4px);
        transition: all 0.2s ease-out;
      }
    }

    &__home {
      @include mid-btn-active-de-active;
    }
    &__watch {
      @include mid-btn-active-de-active;
    }
    &__marketplace {
      @include mid-btn-active-de-active;
    }
    &__group {
      @include mid-btn-active-de-active;
    }

    &__gaming {
      @include mid-btn-active-de-active;
    }
  }
  .header-right {
    @include flex-row;
    @include flex-position(flex-end);
    flex: 0.28;
    padding: 3px 14px;
    &__avatar {
      &-container {
        @include flex-row;
        @include center;
        height: 30px;
        padding: 4px;
        border-radius: 18px;
        transition: all 0.3s ease-out;
        &:hover {
          cursor: pointer;
          transition: all 0.1s ease-in;
          background-color: $btn-secondary-hover-bg-color;
        }
        &:active {
          cursor: pointer;
          transition: all 0.1s ease-in;
          background-color: $btn-secondary-bg-color;
        }
      }
      &-img {
        @include width-heigh(30px, 30px);
      }
      span {
        @include font-style-min($text-content-size, 600);
        margin: 0 5px 0 5px;
        user-select: none;
      }
    }
    &__create {
      &-btn {
        @include option-buttons;
      }
      &-icon {
        @include option-btn-png($imgSetting1, 0, -570px, 25px, 1014px);
      }
    }

    &__messenger-btn {
      @include option-buttons;
    }
    &__notification-btn {
      @include option-buttons;
      .MuiBadge-badge > .MuiBadge-badge {
        margin-right: 20px;
      }
    }
    &__account {
      &-btn {
        @include option-buttons;
      }
      &-icon {
        @include option-btn-png($imgSetting2, 0, -251px, 33px, 510px);
      }
    }
  }
}
