@import "../../styles/variables";
@import "../../styles/mixins";
@import "../widget/style.scss";

.login {
  @include width-height(100%, 100vh);
  background-color: $app-bg-color;
  @include center;
  &__container {
    @include flex-column;
    @include center;
    @include width-height(300px, 300px);
    @include font-style-min(20, 600, unset);
    @include box-shadow;
    border-radius: 8px;
    background-color: white;
    transition: all 0.3s ease-out;
    &:hover {
      transition: all 0.2s ease-in;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    }
  }

  &__logo {
    img {
      height: 70px;
    }
  }
  &__description {
    span {
      @include font-style-min(20, 500, $text-content-header-color);
    }
  }
  &__button {
    @include center;
    .login__facebook-button {
      @include action-button(
        $text-content-size,
        600,
        white,
        $btn-primary-bg-color
      );
      border: none;
      outline: none;
      margin-top: 20px;
      width: 300px;
      transition: all 0.3s ease-out;
      &:hover {
        cursor: pointer;
        filter: brightness(90%);
        transition: all 0.2s ease-in;
      }
    }
  }

  &__loading {
    margin-top: 10px;
  }
  .auth-description {
    span {
      @include font-style-min(20px, 300, $text-content-header-color);
    }
    a {
      @include font-style-min(20px, 300, $text-link-color);
    }
  }
}
