@import "./styles/variables";
@import "./styles/mixins";

#app {
  @include width-height-100;
  background-color: $app-bg-color;
  &__body {
    .side {
      width: 23%;
      background-color: $app-bg-color;
      z-index: 2;
    }
    .feed {
      width: 51%;
      background-color: $app-bg-color;
    }
    .widget {
      width: 22.7%;
      background-color: $app-bg-color;
    }
  }
}

.divider {
  height: 0.3px;
  background-color: $divider-bg-color;
}

a {
  color: inherit;
  text-decoration: none;
}
